<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_main"
        android:label="SGPT"
        android:roundIcon="@mipmap/ic_main"
        android:supportsRtl="true"
        android:theme="@style/Theme.CapstoneTest"
        tools:targetApi="34">
        <activity
            android:name=".textActivity"
            android:exported="false"
            android:label="문서 내용" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="요약중" />
        <activity
            android:name=".SubActivity"
            android:exported="false"
            android:label="저장된 문서"
            android:theme="@style/Theme.CapstoneTest" />
        <activity
            android:name=".ProcessActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>